**/__pycache__
**/*.pyc
**/*.class
**/*.lst
**/*.csv
**/*.tsv
marginals.txt
model.mn
/docs/
/graphs/
/independent/data/twitter/
/independent/data/russia/
/independent/data/ifwe/
/independent/data/yelp_hotel/
/independent/data/yelp_restaurant/
/independent/data/*/*.csv
/independent/data/*/folds/
/independent/data/*/graphlab/
/independent/data/*/preprocess/
/independent/output/*/images/
/independent/output/*/models/
/independent/output/*/predictions/
/independent/output/*/status/
/independent/output/*/features/*.pkl
/independent/output/*/features/*.npz
/plots/
/relational/psl/classpath.out
/relational/psl/data/
/relational/output/
/relational/tuffy/out.map
/relational/tuffy/out.marginal
/relational/tuffy/*evidence.txt
/relational/tuffy/*query.txt
/relational/tuffy/*.jar
/relational/tuffy/log
/relational/mrf/*.mn
/relational/mrf/*.txt
/relational/mrf/
.cache
.coverage
splits.txt
jobs
